img {
  max-width: 100%;
  height: auto;
}
iframe {
  width: 100%;
  height: 100%;
  aspect-ratio: 16/9;
}
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
table {
  width: 100%;
}
th {
  background-color: aqua;
  padding: 10px;
  text-align: left;
}
td {
  padding: 20px;
}
